
<html>
    <head>
        <title>Library Catalog</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Library Catalog</h1>


            <form action="/books" method="post">
                <input id="title" name="title" placeholder="Book Title">
                <input id="name" name="name" placeholder="Book Author">
                <button type="submit">Add Book</button>
            </form>

            {% if books is not empty %}
                <p>Books:</p>
                <ul>
                    {% for book in books %}
                        <li><a href="/book/{{ book.getId }}"> {{ book.getTitle }}</a></li>
                            {# {% for author in book.getAuthors %}
                                {{ author.getName }}
                            {% endfor %} #}
                    {% endfor %}
                </ul>
            {% endif %}
            <a href="/">Home</a>


        </div>
    </body>
</html>
