
<html>
    <head>
        <title>Library</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Welcome to the Library</h1>

            <p><a href='/patron'>Click here</a> if you are a patron of the library.</p>
            <p><a href='/librarian'>Click here</a> for librarian access.</p>
        </div>
    </body>
</html>
